     . ,
      *    ,
 ` *~.|,~* '
 '  ,~*~~* `     _
  ,* / \`* '    //
   ,* ; \,O.   //
       ,(:::)=//
{% for flavor in Flavors %}
      ({% if flavor.Lemon %} Lemon🍋 {% endif %}{% if flavor.Vanilla %} Vanilla🍦 {% endif %}{% if flavor.White %} White🍫 {% endif %}{% if flavor.Dark %} Dark🍫 {% endif %} )
{% endfor %}
      (  `~(###)
       %---'`"y
        \    /
         \  /
        __)(__  {% if CustomerName %}{{CustomerName}}{% endif +%}
       '------`