{% if Cone %}
    {% include 'icecream_cone_template.txt.jinja' %}
{% endif %}
{% if Cup %}
    {% include 'icecream_cup_template.txt.jinja' %}
{% endif %}
{% if Stick %}
    {% include 'icecream_stick_template.txt.jinja' %}
{% endif %}
